* {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
}

#waybar{
  background-color: #000000;
  border: 2px solid #ffffff;
  color: #ffffff;
  
  font-size: 18px;
  font-family: FiraCode Nerd Font;
}

#network{
  min-width: 10px;
}
