window{
  background-color: #000000;
  border: 2px solid #ffffff;
  color: #ffffff;
  
  font-size: 18px;
  font-family: FiraCode Nerd Font;
}

#input{
  margin: -1000px 5px;
}

#entry:selected{
  background-color: #ffffff;
}

#entry:selected label{
  color: #000000;
}
