*{
	background-image: none;
}
window{
  background-color: rgba(10, 10, 10, 0.7);
}

button{
  background-color: #121212;
  border: 1px solid #ffffff;
  color: #ffffff;

  font-size: 14px;
  font-family: FiraCode Nerd Font;

  padding: 50px;
  margin: 20px;
}

button:focus, button:active, button:hover{
	background-color: #ffffff;
  color: #121212;
	outline-style: none;
}
